<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    table{
        background-color: rgb(248, 198, 198);
        }
    table td{
        border:1px solid green;
        height:40px;
     }
     table .active{
         background-color:red;
     }
     .box{
         border:0;
     }
     .box td{
         border:0;
     }
    </style>
</head>
<body>
    <div id="app">
        名称：<input type="text" v-model="name" placeholder="请输入产品名称">
            价格：<input type="number"  v-model.number="price" placeholder="请输入产品价格">
            <button @click="addList">添加</button>
            <input type="text"  v-model="search">
            <button @click="searchList">查询</button>
        <table class="box">
            <tr @click="change(val)" v-for='(val,index) in listArr' :class="{'active':val.isred}">
                <td width="80px"><input type="checkbox" @click.stop :value="index" v-model="checks">
                <button @click.stop="delList(index)">[X]</button></td>
                <td width="300px">{{val.name}}</td>
                <td>{{val.price}}</td>
            </tr>
            <tr>
                <td><button @click="delAny">删除选中</button></td>
                <td colspan='3'>总价：{{sum}}</td>
            </tr>
        </table>
        <!-- <input type="text" v-model="checks"> 
            {{checks}} -->
    </div>
    <script src="vue.js"></script>
    <script>
         let vm = new Vue({
            el: '#app',
            data: {
                sum:0,
                name:"",
                price:"",
                checks:[],
                search:"",
                testArr:[1,3,5,6,7,8,9,0],
                listArr:[
                   {
                      isred:false,
                       name:"衣服",
                       price:123
                   },
                   {
                    isred:false,
                       name:"裤子",
                       price:564
                   },
                   {
                    isred:false,
                       name:"鞋",
                       price:66
                   },
                   {
                    isred:false,
                       name:"iphonex",
                       price:8888
                   },
                   {
                    isred:false,
                       name:"电脑",
                       price:986
                   }
               ]
            },
            methods:{
                change(val){
                    if(val.isred){
                        this.sum-=val.price;
                    }else{
                        this.sum+=val.price;
                    }
                    val.isred=! val.isred;
                    
                },
                delList(index){
                this.listArr.splice(index,1);
            },
            delAny(){
                  console.log( this.listArr);

               let newArr=this.listArr.filter((val,index)=>{
                        if(!this.checks.includes(index)){
                            return val;
                        }
                })
                this.listArr=newArr;
                this.checks=[];
            },
            addList(){
            this.listArr.push({
                name:this.name,
                price:this.price,
                isred:false
            })
            },
            searchList(){
                this.search
                let newArr=this.listArr.filter((val,index)=>{
                        if(val.name.includes(this.search)){
                            return val;
                        }
                })
                this.listArr=newArr;
            }

            }
        });
    </script>
</body>
</html>